/.monaca/*
!/.monaca/project_info.json
/platforms
.DS_Store
*.swp
.vscode/
typings/
node_modules

# TypeScript output (handwritten JavaScript remains tracked)
/www/js/NavController.js
/www/js/NavController.js.map
/www/js/Player.js
/www/js/Player.js.map
