<ons-carousel-item id="caiLoadGame">
    <header>
        <h1>Load Game</h1>
    </header>
    <ons-list-title>Hello travelers, return to your party</ons-list-title>
    <ons-list id="onslPlayers" class="scrollable-list">
        <ons-list-header id="onslhPlayers">
            <div class="player-row">
                <div>
                    Player
                </div>
                <div>
                    Email
                </div>
                <div>
                    Level
                </div>
            </div>
        </ons-list-header>
    </ons-list>
    <p></p>
    <footer>Load a previously saved game.</footer>
</ons-carousel-item>